<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mapper.IcCardMapper" >
  <resultMap id="BaseResultMap" type="com.entity.IcCard" >
    <result column="icId" property="icid" jdbcType="VARCHAR" />
    <result column="icCardNum" property="iccardnum" jdbcType="VARCHAR" />
    <result column="icBalance" property="icbalance" jdbcType="DECIMAL" />
    <result column="isStatus" property="isstatus" jdbcType="VARCHAR" />
    <result column="createTime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="lastTime" property="lasttime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="IcCardPatient" type="com.entity.PatientCardVO" >
    <result column="icCardNum" property="iccardnum" jdbcType="VARCHAR" />
    <result column="icBalance" property="icbalance" jdbcType="DECIMAL" />
    <result column="isStatus" property="isstatus" jdbcType="VARCHAR" />
    <result column="paName" property="paname" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    icId, icCardNum, icBalance, isStatus, createTime, lastTime
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.entity.IcCardExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from icCard
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.entity.IcCardExample" >
    delete from icCard
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.entity.IcCard" >
    insert into icCard (icId, icCardNum, icBalance, 
      isStatus, createTime, lastTime
      )
    values (#{icid,jdbcType=VARCHAR}, #{iccardnum,jdbcType=VARCHAR}, #{icbalance,jdbcType=DECIMAL}, 
      #{isstatus,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, #{lasttime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.entity.IcCard" >
    insert into icCard
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="icid != null" >
        icId,
      </if>
      <if test="iccardnum != null" >
        icCardNum,
      </if>
      <if test="icbalance != null" >
        icBalance,
      </if>
      <if test="isstatus != null" >
        isStatus,
      </if>
      <if test="createtime != null" >
        createTime,
      </if>
      <if test="lasttime != null" >
        lastTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="icid != null" >
        #{icid,jdbcType=VARCHAR},
      </if>
      <if test="iccardnum != null" >
        #{iccardnum,jdbcType=VARCHAR},
      </if>
      <if test="icbalance != null" >
        #{icbalance,jdbcType=DECIMAL},
      </if>
      <if test="isstatus != null" >
        #{isstatus,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="lasttime != null" >
        #{lasttime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.entity.IcCardExample" resultType="java.lang.Integer" >
    select count(*) from icCard
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update icCard
    <set >
      <if test="record.icid != null" >
        icId = #{record.icid,jdbcType=VARCHAR},
      </if>
      <if test="record.iccardnum != null" >
        icCardNum = #{record.iccardnum,jdbcType=VARCHAR},
      </if>
      <if test="record.icbalance != null" >
        icBalance = #{record.icbalance,jdbcType=DECIMAL},
      </if>
      <if test="record.isstatus != null" >
        isStatus = #{record.isstatus,jdbcType=VARCHAR},
      </if>
      <if test="record.createtime != null" >
        createTime = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.lasttime != null" >
        lastTime = #{record.lasttime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update icCard
    set icId = #{record.icid,jdbcType=VARCHAR},
      icCardNum = #{record.iccardnum,jdbcType=VARCHAR},
      icBalance = #{record.icbalance,jdbcType=DECIMAL},
      isStatus = #{record.isstatus,jdbcType=VARCHAR},
      createTime = #{record.createtime,jdbcType=TIMESTAMP},
      lastTime = #{record.lasttime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <select id="selectIcCard" parameterType="String" resultMap="IcCardPatient">
  	select  pa.paName,ic.isStatus,ic.icBalance,ic.icCardNum 
  		from patient pa,icCard ic 
  			where pa.icId = ic.icId 
  				and ic.icCardNum=#{icCardNum,jdbcType=VARCHAR}
  				and ic.isStatus ='A'
  </select>
</mapper>