<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mapper.Trading_recordMapper" >
  <resultMap id="BaseResultMap" type="com.entity.Trading_record" >
    <result column="trId" property="trid" jdbcType="VARCHAR" />
    <result column="trType" property="trtype" jdbcType="VARCHAR" />
    <result column="trMoney" property="trmoney" jdbcType="DECIMAL" />
    <result column="trBalance" property="trbalance" jdbcType="DECIMAL" />
    <result column="trTime" property="trtime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    trId, trType, trMoney, trBalance, trTime
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.entity.Trading_recordExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from trading_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.entity.Trading_recordExample" >
    delete from trading_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.entity.Trading_record" >
    insert into trading_record (trId, trType, trMoney, 
      trBalance, trTime)
    values (#{trid,jdbcType=VARCHAR}, #{trtype,jdbcType=VARCHAR}, #{trmoney,jdbcType=DECIMAL}, 
      #{trbalance,jdbcType=DECIMAL}, #{trtime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.entity.Trading_record" >
    insert into trading_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="trid != null" >
        trId,
      </if>
      <if test="trtype != null" >
        trType,
      </if>
      <if test="trmoney != null" >
        trMoney,
      </if>
      <if test="trbalance != null" >
        trBalance,
      </if>
      <if test="trtime != null" >
        trTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="trid != null" >
        #{trid,jdbcType=VARCHAR},
      </if>
      <if test="trtype != null" >
        #{trtype,jdbcType=VARCHAR},
      </if>
      <if test="trmoney != null" >
        #{trmoney,jdbcType=DECIMAL},
      </if>
      <if test="trbalance != null" >
        #{trbalance,jdbcType=DECIMAL},
      </if>
      <if test="trtime != null" >
        #{trtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.entity.Trading_recordExample" resultType="java.lang.Integer" >
    select count(*) from trading_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update trading_record
    <set >
      <if test="record.trid != null" >
        trId = #{record.trid,jdbcType=VARCHAR},
      </if>
      <if test="record.trtype != null" >
        trType = #{record.trtype,jdbcType=VARCHAR},
      </if>
      <if test="record.trmoney != null" >
        trMoney = #{record.trmoney,jdbcType=DECIMAL},
      </if>
      <if test="record.trbalance != null" >
        trBalance = #{record.trbalance,jdbcType=DECIMAL},
      </if>
      <if test="record.trtime != null" >
        trTime = #{record.trtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update trading_record
    set trId = #{record.trid,jdbcType=VARCHAR},
      trType = #{record.trtype,jdbcType=VARCHAR},
      trMoney = #{record.trmoney,jdbcType=DECIMAL},
      trBalance = #{record.trbalance,jdbcType=DECIMAL},
      trTime = #{record.trtime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>